<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-1.11.3.min.js"></script>
    <!-- <script src="Highcharts/highcharts_1.js"></script> -->
    <!-- <script src="Highcharts/themes/dark-unica.js"></script> -->
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        body,
        html,
        #container {
            height: 100%;
            margin: 0px;
            font: 12px Arial;
        }

        .circle {
            border-radius: 6px;
            border: solid 1px silver;
            width: 35px;
            height: 16px;
            padding: 3px;
            text-align: center;
            line-height: 18px;
            max-width: 50px;
            color: white;
        }

        #ds {
            width: 400px;
            height: 100%;

        }

        #info {
            filter: alpha(opacity=70);
            position: fixed;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            opacity: 0.7;
            top: 0px;
            right: 0px;
            z-index: 999999;
            background: #2f65af;
            padding: 2px;
            width: 20%;
            text-align: center
        }

        #info .box {
            text-align: center;
            font-size: medium;
            float: left;
            color: #ddd;
            width: 48%;
            height: 48%;
            border: #aaaaaa solid 1px;
        }

        #info span {
            text-align: center;
            display: block;
        }

        .top {
            margin: 2%;
            width: 96%;
            height: 31%;
        }

        /* .box {
            margin-right: 1%;
            margin-top: 1%;
            padding: 1%;
            width: 25%;
            height: 25%;
            float: left;
            color: #ddd;
            background: #333333;
        } */



        .bottom {
            margin: 2%;
            background: #eeeeee;
            width: 96%;
            height: 65%;
            padding-left: -10px;
        }

        .chart {
            width: 100%;
            height: 50%;
        }

        #site_name {

            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            position: fixed;
            top: 0px;
            right: 400px;
            margin: 20px;
            z-index: 999999;
            background: #aaaaaa;
            filter: alpha(opacity=70);
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            opacity: 0.7;
            font-size: 25px;
            color: #fff;
            text-align: center;

        }
    </style>

</head>

<body>
    <div id="container" tabindex="0"></div>
    <div id="info">
        <div class="box"><span style="color:aqua;font-size: large; display: inline-block;">●</span>运行中<span>123321</span></div>
        <div class="box"><span style="color:blueviolet;font-size: large; display: inline-block;">●</span>建设中<span>1221</span></div>
        <div class="box"><span style="color:chartreuse;font-size: large; display: inline-block;">●</span>建设目标<span>1321</span></div>
        <div class="box"><span style="color:darkred;font-size: large; display: inline-block;">●</span>告警<span>21</span></div>
    </div>
    <div id="ds" style="display: none">
        <div class="top">
            <div class="box">
                <h4>站点数量(个)</h4><span id="site_count">1231</span></div>
            <div class="box">
                <h4>充电桩数量(个)</h4><span id="box_count">4212</span></div>
            <div class="box">
                <h4>本月充电量(kWh)</h4><span id="charge_count">213</span></div>
            <div class="box" title="（百公里平均耗油量*（充电量/百公里平均耗电量）*汽油折标煤系数-充电量*电力折标煤系数）*折标煤二氧化碳系数">
                <h4>本月减排量(吨)</h4><span id="jp_count">1231</span></div>
        </div>
        <div class="bottom" style="display: none">
            <div class="chart" id="chart1"></div>
            <script type="text/javascript">
                $(function () {
                    $('#chart1').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '设备占比'
                        },
                        tooltip: {
                            headerFormat: '{series.name}<br>',
                            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '设备占比',
                            data: [
                                ['直流枪头', 45.0],
                                ['交流枪头', 26.8]
                            ]
                        }]
                    });
                });
            </script>
            <div class="chart" id="chart2"></div>
            <script type="text/javascript">
                $(function () {
                    $('#chart2').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '运行状态'
                        },
                        tooltip: {
                            headerFormat: '{series.name}<br>',
                            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '运行状态',
                            data: [
                                ['占用', 45.0],
                                ['空闲', 26.8],
                                ['故障', 12.8],
                                ['离线', 8.5]
                            ]
                        }]
                    });
                });
            </script>
        </div>
    </div>

    <div id="site_name">河南省</div>
    <script src="https://webapi.amap.com/maps?v=1.4.2&key=dc4af3d84f49c3963128c5d7161cf65f"></script>
    <script type="text/javascript">

        var citys = [];
        var total = {
            "name": "河南省",
            "site_count": 0,
            "chargeingPowerCount": 0,//充电站所有充电桩总充电量
            "gunMap": {
                "zlcount": 0, //直流桩数量
                "jlcount": 0, //交流桩数量
            },
            "boxMap": {
                "offCharger": 0,//离线枪头数量
                "boxCount": 0,//充电桩数量
                "chargerCount": 0,//枪头数量
                "breakCharger": 0,//故障枪头数量
                "onCharger": 0,//充电枪头数量
                "freeCharger": 0//空闲枪头数量
            }
        }
        var map = new AMap.Map('container', {
            resizeEnable: true,
            zoom: 7,
            zooms: [4, 18],
            center: [115.782939, 33.869338]
        });
        function addHeNan() {
            AMap.service('AMap.DistrictSearch', function () {
                var opts = {
                    subdistrict: 2,
                    extensions: 'all',
                    level: 'city'
                };

                //实例化DistrictSearch
                district = new AMap.DistrictSearch(opts);
                district.setLevel('district');
                //d2ddf1，fadeb9，c7e3b3，c5e4df，f3deed
                drawCity(district, '郑州市', '#f3deed');
                drawCity(district, '开封市', '#fadeb9');
                drawCity(district, '洛阳市', '#fadeb9');
                drawCity(district, '平顶山市', '#c7e3b3');
                drawCity(district, '安阳市', '#c5e4df');
                drawCity(district, '鹤壁市', '#f3deed');
                drawCity(district, '新乡市', '#d2ddf1');
                drawCity(district, '焦作市', '#c5e4df');
                drawCity(district, '濮阳市', '#c7e3b3');
                drawCity(district, '许昌市', '#c5e4df');
                drawCity(district, '漯河市', '#f3deed');
                drawCity(district, '三门峡市', '#d2ddf1');
                drawCity(district, '商丘市', '#d2ddf1');
                drawCity(district, '周口市', '#c7e3b3');
                drawCity(district, '驻马店市', '#c5e4df');
                drawCity(district, '南阳市', '#f3deed');
                drawCity(district, '信阳市', '#d2ddf1');
                drawCity(district, '济源市', '#fadeb9');
            });
        }
        function drawCity(district, cname, fcolor) {
            district.search(cname, function (status, result) {
                var bounds = result.districtList[0].boundaries;
                var polygons = [];
                if (bounds) {
                    for (var i = 0, l = bounds.length; i < l; i++) {
                        var polygon = new AMap.Polygon({
                            map: map,
                            strokeWeight: 1,
                            path: bounds[i],
                            fillOpacity: 0.5,
                            fillColor: fcolor,
                            strokeColor: '#555555'
                        });
                        polygons.push(polygon);
                    }
                }
            });
        }
        addHeNan();

        function setData(data) {
            $('#site_name').html(data.name);
            if (data.units && data.units.length) {
                $('#site_count').html(data.units.length);
            } else if (data.site_count) {
                $('#site_count').html(data.site_count);
            } else {
                $('#site_count').html("1");
            }
            $('#box_count').html(data.boxMap.boxCount);
            //data.chargeingPowerCount = 1935434;
            $('#charge_count').html(data.chargeingPowerCount.toFixed(2));
            var jp = (((10 * (data.chargeingPowerCount / 18) / 10000) * 10.74122 - (data.chargeingPowerCount / 10000) * 1.229) * 2.62).toFixed(2);
            $('#jp_count').html(jp);

            $('#chart1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '设备占比'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: '设备占比',
                    data: [
                        ['直流枪头', data.gunMap.zlcount],
                        ['交流枪头', data.gunMap.jlcount]
                    ]
                }]
            });

            $('#chart2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '运行状态'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: '运行状态',
                    data: [
                        ['占用', data.boxMap.onCharger],
                        ['空闲', data.boxMap.freeCharger],
                        ['故障', data.boxMap.breakCharger],
                        ['离线', data.boxMap.offCharger]
                    ]
                }]
            });
        }

        var createMarker = function (data, hide) {
            if (data.boxMap.boxCount == 0) return;
            var div = document.createElement('div');
            div.className = 'circle';
            var r = Math.floor(data.boxMap.boxCount / 1024);
            div.style.backgroundColor = hide ? '#393' : '#09f';
            div.innerHTML = data.boxMap.boxCount || 0;
            var marker = new AMap.Marker({
                content: div,
                title: data.name,
                position: data.center.split(','),
                offset: new AMap.Pixel(-24, 5),
                extData: data,
                zIndex: data.boxMap.boxCount
            });
            marker.subMarkers = [];
            if (!hide) {
                marker.setMap(map)
            }
            if (data.units && data.units.length) {
                for (var i = 0; i < data.units.length; i += 1) {
                    subMarker = createMarker(data.units[i], true);
                    marker.subMarkers.push(subMarker);
                    AMap.event.addListener(subMarker, 'click', _onClick);
                }
            }
            return marker;
        }
        var _onZoomEnd = function (e) {
            if (map.getZoom() < 8) {
                for (var i = 0; i < markers.length; i += 1) {
                    map.remove(markers[i].subMarkers)
                }
                map.add(markers);
                setData(total);
            }
        }
        var _onClick = function (e) {
            setData(e.target.G.extData);
            if (e.target.subMarkers.length) {
                map.add(e.target.subMarkers);
                map.setFitView(e.target.subMarkers);
                map.remove(markers)
            }
        }
        var markers = []; //province见Demo引用的JS文件

        //for (var i = 0; i < provinces.length; i += 1) {
        //    $.getJSON("QueryData.ashx", { type: "01", networkStatus: "", province: "河南", city: provinces[i].name, area: "", keyword: "" }, function (data) {
        //        var count=0;
        //        for(var j=0;j<data.records.length;j++){
        //            count=count+data.records[j].gunCount;
        //        }
        //        provinces[i].count = count;
        //        var marker = createMarker(provinces[i]);
        //        markers.push(marker);
        //        AMap.event.addListener(marker, 'click', _onClick);
        //    });
        //}
        //$.ajax({
        //    url: 'QueryData.ashx',
        //    type: 'GET',
        //    async: false,
        //    data: { type: "01", networkStatus: "", province: "河南", city: "", area: "", keyword: "" },
        //    timeout: 2000,
        //    dataType: 'json',
        //    success: function (data) {

        //    }
        //});
        $.getJSON("QueryData.ashx", function (data) {
            var count = 0;
            citys = data;
            for (var i = 0; i < citys.length; i += 1) {
                total.chargeingPowerCount += citys[i].chargeingPowerCount;
                total.gunMap.jlcount += citys[i].gunMap.jlcount;
                total.gunMap.zlcount += citys[i].gunMap.zlcount;

                total.boxMap.boxCount += citys[i].boxMap.boxCount;
                total.boxMap.breakCharger += citys[i].boxMap.breakCharger;
                total.boxMap.freeCharger += citys[i].boxMap.freeCharger;
                total.boxMap.offCharger += citys[i].boxMap.offCharger;
                total.boxMap.onCharger += citys[i].boxMap.onCharger;
                if (citys[i].units && citys[i].units.length) {
                    total.site_count += citys[i].units.length;
                }

                var marker = createMarker(citys[i]);
                if (marker != null) {
                    markers.push(marker);
                    AMap.event.addListener(marker, 'click', _onClick);
                }
            }

            setData(total);
        });

        //for (var i = 0; i < provinces.length; i += 1) {
        //    var marker = createMarker(provinces[i]);
        //    markers.push(marker);
        //    AMap.event.addListener(marker, 'click', _onClick);
        //}
        //map.setFitView();
        AMap.event.addListener(map, 'zoomend', _onZoomEnd);

    </script>
    <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

</body>

</html>